**/.git
**/.gitignore
**/.vscode
**/.idea
**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/venv
**/node_modules
frontend/dist
frontend/dist-ssr
**/.env
**/.env.*
!**/.env.example
!.env.docker.example
**/*.log
**/logs
htmlcov/
.coverage
frontend/coverage/
**/.cache
